@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 12px; 
}

body {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Global Variables */
:root {
  --background: #ffffff; /* Default background color */
  --foreground: #000000; /* Default text color */
  --card-bg: #ffffff; /* Background for list items (cards) */
  --card-hover-bg: #d1cbcb; /* Hover background for list items */
  --link-color: #1a202c; /* Default link color */
  --link-hover-color: #2d3748; /* Hover link color */
}

/* Utility Classes */
body {
  @apply bg-[var(--background)] text-[var(--foreground)];
}

.heading-lg {
  @apply text-3xl font-bold text-center;
}

.list-item {
  @apply bg-[var(--card-bg)] rounded-lg shadow p-4 transition my-2;
}

.list-item:hover {
  @apply bg-[var(--card-hover-bg)];
}

.menu-item {
  @apply rounded-lg shadow p-4 transition m-2;
  background-color: lightgray;
}

.menu-item:hover {
  @apply shadow-md;
  background-color: lightblue;
}

.list-item-container {
  @apply flex justify-between text-xl;
}

.list-item-label {
  @apply max-w-lg font-medium max-w-[20rem];
}

.link-default {
  @apply text-[var(--link-color)] no-underline;
}

.link-hover {
  @apply hover:text-[var(--link-hover-color)];
}

/* Optional: Additional Utility Styles */
.error-msg {
  @apply text-red-600 font-bold;
}

.card {
  @apply bg-[var(--card-bg)] rounded-lg shadow p-4 transition;
}

.card-hover {
  @apply hover:bg-[var(--card-hover-bg)] hover:shadow-md;
}

.info-card {
  @apply bg-blue-100 text-blue-900 p-4 rounded-lg shadow;
}

/* Smooth transition for transform and max-height */
.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.transition-all {
  transition: all 0.3s ease-in-out;
}